{% extends 'blog/base.html' %}
{% load widget_tweaks %}
{% block title %}Форма поста{% endblock %}
{% block content %}
<div class="card shadow-sm">
    <div class="card-header bg-secondary text-white">
        <h1>{% if not post %}Создать пост{% else %}Редактировать пост{% endif %}</h1>
    </div>
    <div class="card-body">
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% if field.name == 'categories' %}
                {% render_field field class="form-select" %}
                {% else %}
                {% render_field field class="form-control" %}
                {% endif %}
                {% if field.errors %}
                <div class="invalid-feedback">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Сохранить</button>
        </form>
    </div>
</div>
<script>
    (function() {
        'use strict';
        var forms = document.querySelectorAll('.needs-validation');
        Array.prototype.slice.call(forms).forEach(function(form) {
            form.addEventListener('submit', function(event) {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>
{% endblock %}